<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Gorby needs location access to provide weather data for your current mountain location and show relevant mountain conditions.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Gorby needs location access to provide weather data for your current mountain location and show relevant mountain conditions.</string>
</dict>
</plist>
